@inherits LayoutComponentBase
@inject ILoopringGraphQLService LoopringGraphQLService;
@inject NavigationManager NavigationManager;
@inject IEthereumService EthereumService;

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h6" Class="d-none d-sm-flex">The Lexplorer</MudText>
        <MudSpacer />
        <MudTextField Style="@($"background:var(--mud-palette-background);")" @bind-Value="searchTerm" Label="Search account, block or transaction" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Info" OnAdornmentClick="DoSearch" Margin="Margin.Dense" />
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Filled.DarkMode" Color="Color.Inherit" Title="DarkMode"
                             ToggledIcon="@Icons.Filled.LightMode" ToggledTitle="LightMode" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/fudgebucket27/Lexplorer" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-0 pt-0">
            <p hidden="@(!searching)"><MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" /></p>
            @if (searchResults?.Count > 0)
            {
                <MudTable Dense="true" Striped="true" Bordered="true" Items="@searchResults" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Search results for "@searchTerm"</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Found</MudTh>
                        <MudTh>Type</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Found">@LinkHelper.GetObjectLink(context)</MudTd>
                        <MudTd DataLabel="Type">@(context.GetType()?.GetProperty("typeName")?.GetValue(context, null))</MudTd>
                    </RowTemplate>
                </MudTable>
            }
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    private IList<object>? searchResults;
    private Boolean searching = false;
    private string? _searchTerm;
    private string? searchTerm
    {
        get { return _searchTerm; }
        set
        {
            _searchTerm = value;
            DoSearch();
        }
    }

    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if ((_searchTerm == null) && (searchResults == null)) return;
        searchTerm = null;
        searchResults = null;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private async void DoSearch()
    {
        if (searchTerm == null) return;
        searching = true;
        searchResults = null;
        StateHasChanged();
        if (searchTerm.Contains(".eth", StringComparison.InvariantCultureIgnoreCase))
        {
            string? hexAddress = await EthereumService.GetEthAddressFromEns(searchTerm);
            if (String.IsNullOrEmpty(hexAddress))
            {
                searching = false; //nothing found
                StateHasChanged();
                return;
            }
            _searchTerm = hexAddress; //carry on searching with the found address
        }

        searchResults = await LoopringGraphQLService.Search(searchTerm);
        if (searchResults?.Count == 1)
        {
            Tuple<string, string>? adr = LinkHelper.GetObjectLinkAddress(searchResults[0]);
            if (!string.IsNullOrEmpty(adr?.Item1))
                NavigationManager.NavigateTo(adr.Item1);
        }
        searching = false;
        StateHasChanged();
    }
}