@using Lexplorer.Models;
@using Lexplorer.Helpers;
@using System.Globalization
@inject NavigationManager NavigationManager;

<PageTitle>The Lexplorer - Deposit Details</PageTitle>

@if (DepositDetails != null)
{
                    <MudText Typo="Typo.h6">Transaction #@DepositDetails.id</MudText>
                    <MudSimpleTable Dense="true">
                        <tbody>
                            <tr>
                                <td>Block #</td>
                                <td>@DepositDetails.block!.id</td>
                            </tr>
                            <tr>
                                <td>Verified At (UTC)</td>
                                <td>@TimestampToUTCConverter.Convert(DepositDetails.block.timestamp!)</td>
                            </tr>
                            <tr>
                                <td>Transaction Type</td>
                                <td>Deposit</td>
                            </tr>
                            <tr>
                                <td>Deposited From</td>
                                <td>@AccountLinkHelper.CreateUserLink(DepositDetails.toAccount!, false)</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>@Decimal.Parse(@TokenAmountConverter.Convert(DepositDetails!.amount, DepositDetails!.token!.decimals), NumberStyles.AllowExponent | NumberStyles.AllowDecimalPoint).ToString("N4") @DepositDetails!.token!.symbol</td>
                            </tr>
                            <tr>
                                <td>Raw Data</td>
                                <td><MudTextField T="string" Variant="Variant.Filled"  ReadOnly="true" Text="@DepositDetails.data" Lines="3"/></td>
                            </tr>
                        </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToBlockOverviewPage">Back to originating block</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToDepositOverviewPage">Back to recent Deposits</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToTransactionOverviewPage">Back to recent Transactions</MudButton>
}

@code {
    [Parameter]
    public Deposit? DepositDetails { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? previousPageNumber { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? originatingPage { get; set; }

    private void GoToBlockOverviewPage()
    {
        string tempPreviousPageNumber = "";
        string tempOriginatingPage = "";
        string parameters = "";
        NavigationManager.TryGetQueryString<string>("previousPageNumber", out tempPreviousPageNumber);
        NavigationManager.TryGetQueryString<string>("originatingPage", out tempOriginatingPage);
        if(tempOriginatingPage== "blockDetails")
        {
            
            parameters = $"blocks/{DepositDetails!.block!.id}?pageNumber={tempPreviousPageNumber}";
        }
        else
        {
            parameters = $"blocks/{DepositDetails!.block!.id}?pageNumber=0";
        }

        NavigationManager.NavigateTo(parameters);
    }


    private void GoToDepositOverviewPage()
    {
        string parameters = $"transactions/Deposit?pageNumber=0";
        NavigationManager.NavigateTo(parameters);
    }
    
    private void GoToTransactionOverviewPage()
    {
        string parameters = $"transactions?pageNumber=0";
        NavigationManager.NavigateTo(parameters);
    }
}
