@using System.Diagnostics

<MudGrid>
    <MudItem sm="12">
        <p hidden="@(transactionData != null)"><MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" /></p>
    </MudItem>
    <MudItem xs="12" sm="12" lg="4" >
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Total Transactions</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.transactionCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Total Blocks</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.blockCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Total L2 Accounts</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.userCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Average Block Time</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@averageBlockTime mins</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Average Transactions per Block</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@averageTransactions.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">Last Block Submitted</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@lastBlockSubmittedTime mins ago</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">NFT Mint Count</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.nftMintCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">NFT Trade Count</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.tradeNFTCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6" Align="Align.Center">NFT Transfer Count</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center">@blockData?.data?.proxy?.transferNFTCount.ToString("N0")</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="12" md="4">
        <MudTable Dense="true" Items="@blockData?.data?.blocks" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Latest Blocks</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Block ID</MudTh>
                <MudTh>L1 Transaction Hash</MudTh>
                <MudTh>Block Size</MudTh>
                <MudTh>Verified At (UTC)</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Block Id"><a Class="mud-theme-primary" href="blocks/@context.id?pageNumber=0">@context.id</a></MudTd>
                <MudTd DataLabel="L1 Tx"><L1TransactionLink txHash="@context.txHash"></L1TransactionLink></MudTd>
                <MudTd DataLabel="Block Size">@context.blockSize</MudTd>
                <MudTd DataLabel="Timestamp">@TimestampConverter.ToUTCString(@context.timestamp!)</MudTd>
            </RowTemplate>
        </MudTable>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="GoToBlockOverviewPage">View more blocks</MudButton>
    </MudItem>
    <MudItem xs="12" sm="12" md="8">
        <MudTable Dense="true" Items="@transactionData?.data?.transactions" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Latest Transactions</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Tx Id</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>From</MudTh>
                <MudTh>To</MudTh>
                <MudTh Style="text-align:right">Bought</MudTh>
                <MudTh Style="text-align:right">Sold</MudTh>
                <MudTh Style="text-align:right">Fee</MudTh>
                <MudTh>Verified At (UTC)</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Transaction Id">@LinkHelper.GetObjectLink(context)</MudTd>
                <MudTd DataLabel="Type">@context.typeName</MudTd>
                <TransactionTableDetails TransactionData=@context />
                <MudTd DataLabel="Timestamp">@TimestampConverter.ToUTCString(@blockData?.data?.blocks?[0].timestamp)</MudTd>
            </RowTemplate>
        </MudTable>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="GoToTransactionOverviewPage">View more transactions</MudButton>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" sm="12" md="4">
        <MudTable Dense="true" Items="@pairsData?.data?.pairs" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Pairs</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Pair</MudTh>
                <MudTh Style="text-align:right">Volume 24H</MudTh>
                <MudTh Style="text-align:right">24H % avg</MudTh>
                <MudTh Style="text-align:right">Volume 7D</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Pair">@context.token0!.symbol/@context.token1!.symbol</MudTd>
                <MudTd Style="text-align:right" DataLabel="Volume 24H">@getVolumePair1(context, false)</MudTd>
                <MudTd Style="text-align:right" DataLabel="24H % avg">@get24hPercentage(context) %</MudTd>
                <MudTd Style="text-align:right" DataLabel="Volume 7D">@getVolumePair1(context)</MudTd>
            </RowTemplate>
        </MudTable>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="GoToPairOverviewPage">View more pairs</MudButton>
    </MudItem>
</MudGrid>
