@using Lexplorer.Models;
@using Lexplorer.Helpers;


              <MudText Typo="Typo.h6">Block #@swapData.data.transaction.id</MudText>
                <MudSimpleTable Dense="true">
                    <tbody>
                        <tr>
                            <td>Block #</td>
                            <td>@swapData.data.transaction.block.id</td>
                        </tr>
                        <tr>
                            <td>Verified at</td>
                            <td>@TimestampToUTCConverter.Convert(swapData.data.transaction.block.timestamp)</td>
                        </tr>
                        <tr>
                            <td>User Account</td>
                            <td>@swapData.data.transaction.account</td>
                        </tr>
                        <tr>
                            <td>Swap</td>
                            <td>@TokenAmountConverter.Convert(swapData.data.transaction.fillSA, swapData.data.transaction.tokenA.decimals) @swapData.data.transaction.tokenA.symbol @swapSymbol @TokenAmountConverter.Convert(swapData.data.transaction.fillSB, swapData.data.transaction.tokenB.decimals) @swapData.data.transaction.tokenB.symbol</td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>@TokenAmountConverter.Convert(swapData.data.transaction.feeA,  swapData.data.transaction.tokenB.decimals)</td>
                        </tr>
                        <tr>
                            <td>Pool</td>
                            <td>@swapData.data.transaction.pool.address</td>
                        </tr>
                        <tr>
                            <td>Raw Data</td>
                  
                        </tr>
                    </tbody>
                </MudSimpleTable>

@code {
    [Parameter]
    public Swap swapData { get; set; }

    public string swapSymbol = "<>";
}
