@using Lexplorer.Models;
@using Lexplorer.Helpers;
@inject NavigationManager NavigationManager;

<PageTitle>The Lexplorer - Transfer Details</PageTitle>

@if (TransferDetails != null)
{
                    <MudText Typo="Typo.h6">Transaction #@TransferDetails.id</MudText>
                    <MudSimpleTable Dense="true">
                        <tbody>
                            <tr>
                                <td>Block #</td>
                                <td>@TransferDetails.block!.id</td>
                            </tr>
                            <tr>
                                <td>Verified At (UTC)</td>
                                <td>@TimestampToUTCConverter.Convert(TransferDetails.block.timestamp!)</td>
                            </tr>
                            <tr>
                                <td>Transaction Type</td>
                                <td>Transfer</td>
                            </tr>
                            <tr>
                                <td>From</td>
                                <td>@AccountLinkHelper.CreateUserLink(TransferDetails.fromAccount!, false)</td>
                            </tr>
                            <tr>
                                <td>To</td>
                                <td>@AccountLinkHelper.CreateUserLink(TransferDetails.toAccount!, false)</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>@TokenAmountConverter.Convert(TransferDetails.amount, TransferDetails.token!.decimals) @TransferDetails.token!.symbol</td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td>@TokenAmountConverter.Convert(TransferDetails.fee, TransferDetails.feeToken!.decimals) @TransferDetails.feeToken!.symbol</td>
                            </tr>
                            <tr>
                                <td>Raw Data</td>
                                <td><MudTextField T="string" Variant="Variant.Filled"  ReadOnly="true" Text="@TransferDetails.data" Lines="3"/></td>
                            </tr>
                        </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToBlockOverviewPage">Back to originating block</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToTransferOverviewPage">Back to recent Transfers</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToTransactionOverviewPage">Back to recent Transactions</MudButton>
}

@code {
    [Parameter]
    public Transfer? TransferDetails { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? previousPageNumber { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? originatingPage { get; set; }

    private void GoToBlockOverviewPage()
    {
        string tempPreviousPageNumber = "";
        string tempOriginatingPage = "";
        string parameters = "";
        NavigationManager.TryGetQueryString<string>("previousPageNumber", out tempPreviousPageNumber);
        NavigationManager.TryGetQueryString<string>("originatingPage", out tempOriginatingPage);
        if(tempOriginatingPage== "blockDetails")
        {
            
            parameters = $"blocks/{TransferDetails!.block!.id}?pageNumber={tempPreviousPageNumber}";
        }
        else
        {
            parameters = $"blocks/{TransferDetails!.block!.id}?pageNumber=0";
        }

        NavigationManager.NavigateTo(parameters);
    }


    private void GoToTransferOverviewPage()
    {
        string parameters = $"transactions/Transfer?pageNumber=0";
        NavigationManager.NavigateTo(parameters);
    }
    
    private void GoToTransactionOverviewPage()
    {
        string parameters = $"transactions?pageNumber=0";
        NavigationManager.NavigateTo(parameters);
    }
}
