@using Lexplorer.Models;
@using Lexplorer.Helpers;
@inject NavigationManager NavigationManager;

<PageTitle>The Lexplorer - Transfer Details</PageTitle>

@if (TransferDetails != null)
{
                      <MudText Typo="Typo.h6">Transaction #@TransferDetails.data.transaction.id</MudText>
                    <MudSimpleTable Dense="true">
                        <tbody>
                            <tr>
                                <td>Block #</td>
                                <td>@TransferDetails.data.transaction.block.id</td>
                            </tr>
                            <tr>
                                <td>Verified At (UTC)</td>
                                <td>@TimestampToUTCConverter.Convert(TransferDetails.data.transaction.block.timestamp)</td>
                            </tr>
                            <tr>
                                <td>From</td>
                                <td>@TransferDetails.data.transaction.fromAccount.address</td>
                            </tr>
                            <tr>
                                <td>To</td>
                                <td>@TransferDetails.data.transaction.toAccount.address</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>@TokenAmountConverter.Convert(TransferDetails.data.transaction.amount, TransferDetails.data.transaction.token.decimals) @TransferDetails.data.transaction.token.symbol</td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td>@TokenAmountConverter.Convert(TransferDetails.data.transaction.fee, TransferDetails.data.transaction.feeToken.decimals) @TransferDetails.data.transaction.feeToken.symbol</td>
                            </tr>
                            <tr>
                                <td>Raw Data</td>
                                <td><MudTextField T="string" Variant="Variant.Filled"  ReadOnly="true" Text="@TransferDetails.data.transaction.data" Lines="3"/></td>
                            </tr>
                        </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToBlockOverviewPage">Back to originating block</MudButton>
}

@code {
    [Parameter]
    public Transfer TransferDetails { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string previousPageNumber { get; set; }

    public string swapSymbol = "<>";

    private void GoToBlockOverviewPage()
    {
        string tempPreviousPageNumber = "";
        NavigationManager.TryGetQueryString<string>("previousPageNumber", out tempPreviousPageNumber);
        string parameters = $"blocks/{TransferDetails.data.transaction.block.id}?pageNumber={tempPreviousPageNumber}";
        NavigationManager.NavigateTo(parameters);
    }
}
