@page "/blocks"

<PageTitle>The Lexplorer - Blocks</PageTitle>
<MudContainer Fixed="true" Class="my-3">
    <MudItem lg="12">
        <MudTable Dense="true" Striped="true" Bordered="true" Items="@blocks" Hover="true" Loading=@isLoading>
            <ToolBarContent>
                <MudText Typo="Typo.h6">Latest blocks</MudText>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Filled.FirstPage" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage = 1)" />
                <MudIconButton Icon="@Icons.Filled.NavigateBefore" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage -= 1)" />
                <MudNumericField HideSpinButtons="true" @bind-Value="gotoPage" Label="Page" Variant="Variant.Outlined" Min="1" Margin="Margin.Dense" Class="flex-grow-0" Style="width:150px;" />
                <MudIconButton Icon="@Icons.Filled.NavigateNext" Disabled=@(blocks?.Count < pageSize) OnClick="@(() => gotoPage += 1)" />
                <MudSpacer />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Block ID</MudTh>
                <MudTh>L1 Transaction Hash</MudTh>
                <MudTh>Block Size</MudTh>
                <MudTh>Verified At(UTC)</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Block Id"><a Class="mud-theme-primary" href="blocks/@context.id">@context.id</a></MudTd>
                <MudTd DataLabel="L1 Tx"><L1TransactionLink txHash="@context.txHash"></L1TransactionLink></MudTd>
                <MudTd DataLabel="Block Size">@context.blockSize</MudTd>
                <MudTd DataLabel="Timestamp">@TimestampConverter.ToUTCString(@context.timestamp!)</MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
</MudContainer>
