@page "/blocks/{blockNumber}"

<PageTitle>The Lexplorer - Block Details</PageTitle>
<MudContainer Fixed="true" Class="my-3">
    <MudSimpleTable Dense="true" Striped="true" Bordered="true">
        <div class="mud-toolbar mud-toolbar-gutters mud-table-toolbar">
            <MudIconButton Icon="@Icons.Filled.FirstPage" Disabled=@(blockId == 1) OnClick="@(() => blockId = 1)" />
            <MudIconButton Icon="@Icons.Filled.NavigateBefore" Disabled=@(blockId == 1) OnClick="@(() => blockId -= 1)" />
            <MudText Typo="Typo.h6">Block #@block?.data?.block?.id</MudText>
            <MudIconButton Icon="@Icons.Filled.NavigateNext" Disabled=@(blockId == (block?.data?.proxy?.blockCount ?? 0)) OnClick="@(() => blockId += 1)" />
        </div>
        @if (isBlockLoading)
        {
            <tr>
                <td colspan="2">
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Style="overflow-wrap: break-word;" />
                </td>
            </tr>
        }
        <tbody>
            <tr>
                <td width="25%">Block Hash</td>
                <td>@block?.data?.block?.blockHash</td>
            </tr>
            <tr>
                <td>Block Size</td>
                <td>@block?.data?.block?.blockSize</td>
            </tr>
            <tr>
                <td>L1 Transaction Hash</td>
                <td><L1TransactionLink txHash="@block?.data?.block?.txHash" shortenHash="false"></L1TransactionLink></td>
            </tr>
            <tr>
                <td>Verified At (UTC)</td>
                <td>@TimestampConverter.ToUTCString(block?.data?.block?.timestamp!)</td>
            </tr>
            <tr>
                <td>Raw Data</td>
                <td>
                    <MudText Style="height:150px;overflow-x:clip;overflow-y:scroll;word-break:break-word;">@block?.data?.block?.data</MudText>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <br />

    <MudTable Dense="true" Items="@transactions" Hover="true" Loading="@isTransactionLoading">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Transactions in block #@block?.data?.block?.id</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Filled.FirstPage" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage = 1)" />
            <MudIconButton Icon="@Icons.Filled.NavigateBefore" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage -= 1)" />
            <MudNumericField HideSpinButtons="true" @bind-Value="gotoPage" Label="Page" Variant="Variant.Outlined" Min="1" Margin="Margin.Dense" Class="flex-grow-0" Style="width:150px;" />
            <MudIconButton Icon="@Icons.Filled.NavigateNext" Disabled=@(transactions?.Count < pageSize) OnClick="@(() => gotoPage += 1)" />
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tx Id</MudTh>
            <MudTh>Type</MudTh>
            <MudTh>From</MudTh>
            <MudTh>To</MudTh>
            <MudTh Style="text-align:right">Bought</MudTh>
            <MudTh Style="text-align:right">Sold</MudTh>
            <MudTh Style="text-align:right">Fee</MudTh>
            <MudTh>Time(UTC)</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Tx Id">@LinkHelper.GetObjectLink(context)</MudTd>
            <MudTd DataLabel="Type">@context.typeName</MudTd>
            <TransactionTableDetails TransactionData=@context />
            <MudTd DataLabel="Time">@TimestampConverter.ToUTCString(@block?.data?.block?.timestamp)</MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>
