@page "/nfts/{nftId}"

<PageTitle>The Lexplorer - NFT @nft?.nftID </PageTitle>

<MudContainer Fixed="true" Class="my-3">
    <MudSimpleTable Dense="true" Striped="true" Bordered="true">
        <div class="mud-toolbar mud-toolbar-gutters mud-table-toolbar">
            <MudText Typo="Typo.h6">@(nftMetadata?.name ?? $"NFT {nft?.nftID}")</MudText>
        </div>
        <tbody>
            <tr>
                <td>Description</td>
                <td>@nftMetadata?.description</td>
            </tr>
            <tr>
                <td>Royalty percentage</td>
                <td>@nftMetadata?.royalty_percentage%</td>
            </tr>
            <tr>
                <td>nftID</td>
                <td>@nft?.nftID</td>
            </tr>
            <tr>
                <td>Minter</td>
                <td>@LinkHelper.CreateUserLink(nft?.minter, false, true) </td>
            </tr>
            <tr>
                <td>Minted at</td>
                <td>@LinkHelper.GetObjectLink(nft?.mintedAtTransaction) </td>
            </tr>
            <tr>
                <td>Token address</td>
                <td><L1AccountLink address="@nft?.token" shortenAddress="false" /></td>
            </tr>
            <tr>
                <td>Image URL</td>
                <td>@nftMetadata?.image</td>
            </tr>
            <tr>
                <td>Animation URL</td>
                <td>@nftMetadata?.animation_url</td>
            </tr>
            @if (nftMetadata?.attributes?.Count > 0)
            {
                <tr>
                    <td colspan="2">
                        <MudExpansionPanels>
                            <MudExpansionPanel Text="Traits">
                                <MudSimpleTable Dense="true" Striped="true" Bordered="true">
                                    <tbody>
                                        @foreach (var trait in nftMetadata?.attributes!)
                                        {
                                            <tr>
                                                <td>@trait.trait_type</td>
                                                <td>@trait.value</td>
                                            </tr>
                                        }
                                    </tbody>
                                </MudSimpleTable>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <NFTContent nftMetadata="@nftMetadata" />
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <br />

    <MudTable Dense="true" Striped="true" Bordered="true" Items="@transactions" Hover="true" Loading=@isLoading>
        <ToolBarContent>
            <MudText Typo="Typo.h6">Transactions</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Filled.FirstPage" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage = 1)" />
            <MudIconButton Icon="@Icons.Filled.NavigateBefore" Disabled=@(gotoPage == 1) OnClick="@(() => gotoPage -= 1)" />
            <MudNumericField HideSpinButtons="true" @bind-Value="gotoPage" Label="Page" Variant="Variant.Outlined" Min="1" Margin="Margin.Dense" Class="flex-grow-0" Style="width:150px;" />
            <MudIconButton Icon="@Icons.Filled.NavigateNext" Disabled=@(transactions!.Count < pageSize) OnClick="@(() => gotoPage += 1)" />
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tx Id</MudTh>
            <MudTh>Type</MudTh>
            <MudTh>From</MudTh>
            <MudTh>To</MudTh>
            <MudTh Style="text-align:right">Bought</MudTh>
            <MudTh Style="text-align:right">Sold</MudTh>
            <MudTh Style="text-align:right">Fee</MudTh>
            <MudTh>Verified At (UTC)</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Transaction Id">@LinkHelper.GetObjectLink(context)</MudTd>
            <MudTd DataLabel="Type">@context.typeName</MudTd>
            <TransactionTableDetails TransactionData=@context />
            <MudTd DataLabel="Timestamp">@context.verifiedAt</MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>

