@page "/transactions/{transactionId}"
@using Lexplorer.Components;
@using Lexplorer.Helpers;
@using Lexplorer.Models;
@inject IAppCache AppCache;
@inject Lexplorer.Services.LoopringGraphQLService LoopringGraphQLService;

<PageTitle>The Lexplorer - Transaction #@transactionId </PageTitle>

<MudText Typo="Typo.h6">Transaction #@transactionId</MudText>
<MudSimpleTable Dense="true">
    <tbody>
        <tr>
            <td>Block #</td>
            <td>@LinkHelper.GetObjectLink(transaction?.block)</td>
        </tr>
        <tr>
            <td>Verified At (UTC)</td>
            <td>@transaction?.verifiedAt</td>
        </tr>
        <tr>
            <td>Transaction Type</td>
            <td>@transaction?.typeName</td>
        </tr>
        @if (swap != null)
        {
            <tr>
                <td>User Account</td>
                <td>@LinkHelper.CreateUserLink(swap.account, false, true)</td>
            </tr>
            <tr>
                <td>Swap</td>
                <td>@TokenAmountConverter.ToString(swap.fillSA, swap.tokenA?.decimals) @swap.tokenA?.symbol @swapSymbol @TokenAmountConverter.ToString(swap.fillSB, swap.tokenB?.decimals) @swap.tokenB?.symbol</td>
            </tr>
            <tr>
                <td>Fee</td>
                <td>@TokenAmountConverter.ToString(swap.feeA, swap.tokenB?.decimals) @swap.tokenB?.symbol</td>
            </tr>
            <tr>
                <td>Pool</td>
                <td>@LinkHelper.CreateUserLink(swap.pool, false, true)</td>
            </tr>
        }
        @if (transfer != null)
        {
            <tr>
                <td>From</td>
                <td>@LinkHelper.CreateUserLink(transfer.fromAccount, false, true)</td>
            </tr>
            <tr>
                <td>To</td>
                <td>@LinkHelper.CreateUserLink(transfer.toAccount, false, true)</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>@TokenAmountConverter.ToString(transfer.amount, transfer.token?.decimals) @transfer.token?.symbol</td>
            </tr>
            <tr>
                <td>Fee</td>
                <td>@TokenAmountConverter.ToString(transfer.fee, transfer.feeToken?.decimals) @transfer.feeToken?.symbol</td>
            </tr>
        }
        @if (orderBookTrade != null)
        {
            <tr>
                <td></td>
                <td>A</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Account</td>
                <td>@LinkHelper.CreateUserLink(orderBookTrade.accountA, false, true)</td>
                <td>@LinkHelper.CreateUserLink(orderBookTrade.accountB, false, true)</td>
            </tr>
            <tr>
                <td>Trade</td>
                <td>@(orderBookTrade.fillAmountBorSA ? "Buy" : "Sell")</td>
                <td>@(orderBookTrade.fillAmountBorSB ? "Buy" : "Sell")</td>
            </tr>
            <tr>
                <td>Sold</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.fillSA, orderBookTrade.tokenA?.decimals) @orderBookTrade.tokenA?.symbol</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.fillSB, orderBookTrade.tokenB?.decimals) @orderBookTrade.tokenB?.symbol</td>
            </tr>
            <tr>
                <td>Bought</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.fillBA, orderBookTrade.tokenB?.decimals) @orderBookTrade.tokenB?.symbol</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.fillBB, orderBookTrade.tokenA?.decimals) @orderBookTrade.tokenA?.symbol</td>
            </tr>
            <tr>
                <td>Fee</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.feeA, orderBookTrade.tokenB?.decimals) @orderBookTrade.tokenB?.symbol</td>
                <td>@TokenAmountConverter.ToString(orderBookTrade.feeB, orderBookTrade.tokenA?.decimals) @orderBookTrade.tokenA?.symbol</td>
            </tr>
            <tr>
                <td>Token price</td>
                <td>1 @orderBookTrade.tokenA?.symbol = @TokenAmountConverter.ToString(orderBookTrade.tokenAPrice, orderBookTrade.tokenB?.decimals) @orderBookTrade.tokenB?.symbol</td>
                <td>1 @orderBookTrade.tokenB?.symbol = @TokenAmountConverter.ToString(orderBookTrade.tokenBPrice, orderBookTrade.tokenA?.decimals) @orderBookTrade.tokenA?.symbol</td>
            </tr>
        }
        @if (deposit != null)
        {
            <tr>
                <td>Deposited From</td>
                <td>@LinkHelper.CreateUserLink(deposit.toAccount, false, true)</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>@TokenAmountConverter.ToString(deposit.amount, deposit.token?.decimals) @deposit.token?.symbol</td>
            </tr>
        }
        <tr>
            <td>Raw Data</td>
            <td><MudTextField T="string" Variant="Variant.Filled" ReadOnly="true" Text="@transaction?.data" Lines="3" /></td>
        </tr>
    </tbody>
</MudSimpleTable>
<br/>
<MudTable Dense="true" Striped="true" Bordered="true" Items="@transaction?.tokenBalances" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Token balances</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<AccountTokenBalance, object>(x=>x.account?.id ?? String.Empty)">Account</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<AccountTokenBalance, object>(x=>x.token?.name ?? String.Empty)">Token</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<AccountTokenBalance, object>(x=>x.fBalance)">Balance</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Account">@LinkHelper.GetObjectLink(context.account) (@context.account?.typeName)</MudTd>
        <MudTd Style="text-align:right" DataLabel="Token">@context.token?.name</MudTd>
        <MudTd DataLabel="Balance">@TokenAmountConverter.ToString(context.balance, context.token?.decimals) @context.token?.symbol</MudTd>
    </RowTemplate>
    <PagerContent>
        @if (transaction?.tokenBalances?.Count > 10)
        {
            <MudTablePager InfoFormat="@("{first_item}-{last_item} of {all_items}")" HorizontalAlignment="HorizontalAlignment.Left" />
        }
    </PagerContent>
</MudTable>

@code {
    private Transaction? transaction;
    private Swap? swap { get { return transaction as Swap; } }
    private Transfer? transfer { get { return transaction as Transfer; } }
    private OrderBookTrade? orderBookTrade { get { return transaction as OrderBookTrade; } }
    private Deposit? deposit { get { return transaction as Deposit; } }
    private const string swapSymbol = "<>";

    [Parameter]
    public string transactionId { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        string transactionCacheKey = $"transactionDetail-{transactionId}";
        if (transaction?.id != transactionId)
        {
            transaction = await AppCache.GetOrAddAsync(transactionCacheKey, async () => await LoopringGraphQLService.GetTransaction(transactionId));
            StateHasChanged();
        }
    }
}
